// app global css in SCSS form
.activeItem {
    color: aliceblue;
    text-decoration: underline;
    background-color: #898989;
}
.nav{
    color: #ffd23e;
    letter-spacing: 1px;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}
.toolbar{
    background-color: black;
}
.title_nav{
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
}